.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-container section.form {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  animation-name: up;
  animation-duration: 700ms;
}

.login-container section.form img {
  width: 60%;
  animation-name: up;
  animation-duration: 1000ms;
}
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}
.login-container section.form Form {
  margin-top: 100px;
}
.login-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
.login-container section.form form span {
  font-size: 24px;
  color: #808080;
}

.login-container section.form form .inputLogin {
  width: 500px;
  height: 80px;
  padding: 15px;
  border-width: 3px;
  border-radius: 2px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #c8a2c8;
  background-color: #f0f0f5;
}
.login-container section.form form .btnLogin {
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: #c8a2c8;
  padding: 5%;
  border-radius: 7px;
  margin-top: 50px;
  width: 50%;
  color: #fff;
}

.login-container section.form form .LinkRegister {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  p {
    display: none;
  }
  .login-container {
    margin-left: 0px;
  }
  .login-container section.form img {
    display: none;
  }

  .login-container section.form form .inputLogin {
    width: 370px;
    height: 80px;
  }
}
